<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" id="oldPassword" type="password" class="form-control">
        <div *ngIf="oldPassword?.touched && oldPassword?.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword?.errors?.['required']">oldPassword required</div>
            <div *ngIf="!oldPassword?.errors?.['correct']">password not correct</div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" id="newPassword" type="password" class="form-control">
        <div *ngIf="newPassword?.touched && newPassword?.invalid" class="alert alert-danger">
            <div *ngIf="newPassword?.errors?.['required']">newPassword required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">confirm Password</label>
        <input formControlName="confirmPassword" id="confirmPassword" type="password" class="form-control">
        <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid" class="alert alert-danger">
            <div *ngIf="confirmPassword?.errors?.['required']">confirmPassword required</div>
        </div>
    </div>

    <div class="alert alert-danger" *ngIf="confirmPassword?.value  !==newPassword?.value ">password must be same</div>


    <button class="btn btn-primary">submit</button>
</form>